.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.home-img {
  width: 100%;
}

.home-title {
  margin: 50px;
  color: #000000;
  border-bottom: 5px solid #f9c1fd;
  padding-bottom: 2px;
  margin-bottom: 60px;
  margin-top: 100px;
  font-size: 40px;
}

.home-products-button {
  width: 1110px;
  background-color: #000000;
  color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 2px #bbbbbb;
  padding: 10px;
  margin-top: 50px;
}

@media screen and (max-width: 1220px) {
  .home-products-button {
    width: 895px;
  }
}

@media screen and (max-width: 1000px) {
  .home-products-button {
    width: 90%;
  }

  .home-img {
    min-height: 400px;
    object-fit: cover;
  }
}

@media screen and (max-width: 700px) {
  .home-title {
    font-size: 30px;
    text-align: center;
    border-bottom: 0px;
  }
  .home-img {
    min-height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .home-products-button {
    width: 80%;
  }

  .home-img {
    min-height: 250px;
  }
}

@media screen and (max-width: 450px) {
  .home-title {
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 0px;
    display: none;
  }

  .home-img {
    min-height: 210px;
  }
}
