.home-contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1125px;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
  padding: 70px;
  margin-bottom: 200px;
  box-shadow: 2px 2px 10px 2px rgb(219, 219, 219);
}

.home-contact-title {
  color: #e54787;
  padding-bottom: 2px;
  margin-bottom: 20px;
  font-size: 40px;
}

.home-contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home-contact-form-input {
  width: 80%;
  padding: 12px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border: 2px solid rgb(226, 226, 226);
  box-shadow: 2px 2px 10px 2px rgb(221, 221, 221);
}

.home-contact-form-textarea {
  width: 80%;
  height: 120px;
  padding: 12px;
  margin-top: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  resize: none;
  border: 2px solid rgb(226, 226, 226);
  box-shadow: 2px 2px 10px 2px rgb(221, 221, 221);
  transition: 0.5s;
}

.home-contact-form-input:active,
.home-contact-form-input:focus,
.home-contact-form-textarea:active,
.home-contact-form-textarea:focus {
  outline: none;
  border: 2px solid rgb(119, 119, 119);
}

.home-contact-form-errors {
  text-align: start;
  color: red;
  width: 80%;
  margin-top: 10px;
  margin-left: 15px;
}

.home-contact-form-button {
  margin-top: 40px;
  border: none;
  padding: 12px 12px;
  background-color: #e54787;
  color: #fff;
  width: 80%;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 2px 2px 10px 2px rgb(221, 221, 221);
  letter-spacing: 1px;
}

.home-contact-form-button:hover {
  background-color: #e54786b4;
}

@media screen and (max-width: 1220px) {
  .home-contact {
    width: 895px;
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 1000px) {
  .home-contact {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .home-contact-title {
    font-size: 30px;
    border-bottom: 0px;
  }
  .home-contact-form-input {
    width: 100%;
    padding: 10px;
    margin-top: 40px;
  }

  .home-contact-form-errors {
    width: 100%;
  }

  .home-contact-form-textarea {
    width: 100%;
  }

  .home-contact-form-button {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .home-contact {
    width: 80%;
    padding: 40px 30px;
  }
}

@media screen and (max-width: 450px) {
  .home-contact-title {
    font-size: 25px;
  }
}
