.products-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1080px;
  margin-top: 30px;
}

.products-header-link {
  text-decoration: none;
  color: rgb(44, 44, 44);
  transition: 1s;
  font-size: 16px;
  letter-spacing: 1px;
}

.products-header-link:hover {
  text-decoration: underline 1px #000;
}

.products-header-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 0px;
  color: #e54787;
}

.products-header-bar {
  margin: 0px 4px;
}

@media screen and (max-width: 1220px) {
  .products-header {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1140px) {
  .products-header {
    max-width: 850px;
  }
}

@media screen and (max-width: 992px) {
  .products-header {
    max-width: 90%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 570px) {
  .products-header-title,
  .products-header-bar,
  .products-header-link {
    font-size: 12px;
  }

  .products-header {
    margin-top: 0px;
  }
}
