.dropdown-menu {
  padding: 0px !important;
  border: 1px solid rgba(187, 187, 187, 0.288) !important;
  border-radius: 5px;
}

.custom-dropdown-item {
  color: #333 !important;
  background-color: #f8f9fa !important;
  border-radius: 0 !important;
  padding: 10px 15px !important;
}

.custom-dropdown-item:hover {
  background-color: #e9ecef !important;
}

.cart-button {
  outline: none !important;
  border: none !important;
}
.cart-button:active .cart-button:focus,
.cart-button:hover {
  outline: none !important;
  border: none !important;
}

.nav-link:hover {
  color: rgb(131, 131, 131) !important;
}

@media screen and (max-width: 991px) {
  .nav-link:hover {
    background-color: rgb(233, 233, 233) !important;
  }
  .dropdown-menu {
    border: 0px !important;
  }

  .cart-button {
    display: none !important;
  }

  .nav-link:hover {
    color: #000 !important;
  }
}
