header {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
}

.cart-button {
  background-color: #f5e4ea !important;
  outline: none !important;
  border: none !important;
}
.cart-button:active .cart-button:focus,
.cart-button:hover {
  outline: none !important;
  border: none !important;
}

.navbar-brand {
  margin-right: 0px !important;
}

.navbar-img {
  width: 150px !important;
}

@media screen and (min-width: 992px) {
  .navbar {
    max-width: 1200px !important;
    padding: 20px 50px !important;
    justify-content: space-around !important;
  }
  .navbar-collapse {
    display: flex !important;
    justify-content: flex-end !important;
  }
}
