.fade-in {
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.aboutUs-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1080px;
  letter-spacing: 1px;
}

.aboutUs-body h1,
.aboutUs-body h2 {
  font-size: 16px;
  font-weight: 700;
  margin-top: 30px;
}

.aboutUs-body p,
.aboutUs-body ul li {
  font-size: 13.5px;
  line-height: 25px;
}

.aboutUs-body div svg {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1220px) {
  .aboutUs-body {
    max-width: 90%;
  }
}

@media screen and (max-width: 992px) {
  .aboutUs-body {
    max-width: 90%;
    margin-left: 0px;
  }
}
