footer {
  background-color: #e54787;
}

.footer-container1 {
  width: 45% !important;
}

.footer-container2 {
  width: 35% !important;
}

.footer-container3 {
  width: 20% !important;
}

.footer-container-info-icon {
  font-size: 20px;
  color: #000000;
  margin-bottom: 0px;
  cursor: pointer;
  transition: 0.5s;
}

.footer-container-info-icon:hover {
  opacity: 0.7;
}

.footer-container-info-text {
  font-size: 14px;
  color: #111;
  text-align: center;
  margin-bottom: 0px;
}

.footer-link {
  font-size: 14px !important;
  width: 150px !important;
  text-decoration: none !important;
  color: #000 !important;
  transition: 0.5s !important;
}

.footer-link:hover {
  opacity: 0.7 !important;
}

.footer-container-info-text {
  font-size: 14px !important;
}

.footer-copyright {
  font-size: 12px;
}

.footer-copyright span {
  cursor: pointer;
  transition: 0.5s;
}

.footer-copyright span:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .footer-container1 {
    width: 40% !important;
  }

  .footer-container2 {
    width: 35% !important;
  }

  .footer-container3 {
    width: 25% !important;
  }
}

@media screen and (max-width: 750px) {
  .footer-container1 {
    width: 100% !important;
  }

  .footer-link {
    text-align: center;
  }

  .footer-container2,
  .footer-container3 {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .footer-container2 ul li {
    justify-content: center;
  }

  .footer-container3 ul li svg {
    margin-right: 0px !important;
    margin: 0px 10px !important;
  }

  .footer-container3 {
    width: 100% !important;
  }

  .footer-copyright {
    padding: 15px 60px;
  }
}
