.home-info {
  display: flex;
  flex-direction: row;
  justify-self: center;
  align-items: center;
  width: 1125px;
  background-color: #e54787;
  padding: 30px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 10px 2px #dbdbdb;
}

.home-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.home-info-container-logo {
  font-size: 50px;
  color: rgb(0, 0, 0);
}

.home-info-container-texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 30px;
}

.home-info-container-texts h5 {
  font-size: 18px;
  color: #fff;
  letter-spacing: 1px;
}

.home-info-container-texts p {
  font-size: 14px;
  color: #fff;
  letter-spacing: 1px;
}

@media screen and (max-width: 1220px) {
  .home-info {
    width: 895px;
  }
}

@media screen and (max-width: 1000px) {
  .home-info {
    flex-wrap: wrap;
    flex-direction: column;
    width: 90%;
  }

  .home-info-container {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .home-info-container-texts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }

  .home-info-container-texts p,
  .home-info-container-texts h5 {
    text-align: center;
    margin-left: 0px;
  }
}

@media screen and (max-width: 600px) {
  .home-info {
    width: 80%;
  }
}
