* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  height: 100%;
}

body {
  padding-right: 0px !important;
  overflow-y: auto;
}

p {
  margin-bottom: 0px;
}
